html {
    background-color: #faebd7;
}

div{
display: flex;
justify-content: center;
height: 300px;
width: 300px;
}

body{
    top: 50px;
    padding: 50px;
    position: relative;
    border-style:inset;
    border-spacing: 50px 10px ;
    border-color: darkmagenta;
    border-width: thin;
    max-width: 300px;
    max-height: 1000px;
    margin:auto;
}
input {
    background-repeat: repeat-x;
    border: 0px solid;
    height: 20PX;
    width: 205px;
    margin-left: auto;
}



