body {
    background-color: #e8e2db;
  }
  
  p1 {
    color: navy;
    top:10px;
    position:absolute;
    margin:20px;
  }
  body {
    top: 20px;
    padding: 100px;
    position: relative;
    border-style:groove;
    border-spacing: 100px 20px ;
    border-color: darkmagenta;
    border-width: thin;
    max-width: 200px;
    max-height: 1000px;
    margin:auto;  
  }
  ul{
    font-size:x-large;
    padding: 20px;
  }

  img{
    padding: 10px;
    margin-right: auto;
    left: 20px;
  }
  